
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('./content/font/GoogleSans-Regular.otf') format('opentype');
}
body {
    font-family: GoogleSans-Regular;
    margin: 0 auto;
    width: 95%;
    background: #f5f5f5;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.new-header-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
    background-color: #e47b21;
}
.header-item {
    line-height: 30px;
    height: 30px;
    position: relative;
    margin-left: 15px;
    border: 0px solid ;
    /* background:  linear-gradient(to right, #d68d02 0%, #ea0f0f 50%, #d68d02 100%); */
    animation: animateBg 2s infinite linear;
    background-color: #fff;
    background-image: linear-gradient(90deg, #d68d02, #ea0f0f, #d68d02, #ea0f0f);
    /* background-color:#d68d02 ; */
    border-radius: 5px;
    right: 20px;
    /* animation-name: example;
    animation-duration: 3s;
    animation-iteration-count:infinite */
    background-size: 300% 100%;
    box-shadow: 0 3px 14px #000;
    border-radius: 20px;
    padding: 0 5px 0 5px;
}

@keyframes animateBg{
    0% {
        background-position: 0 0;
      }
      100% {
        background-position: 100% 0;
      }
}
.header {
    display: flex;
    background-color: #010101;
    height: 50px;
    line-height: 50px;
    margin-top: 38px;
    margin-left: 15px;
    width: 47%;
    
}
input{
    margin-bottom: 10px;
}
.btn_search{
    height: 30px;
    margin: 10px 0px 17px 14px;
}

#search {
    /* margin-top: 10px; */
    display: flex;
    width: 100%;
}
.tim_kiem{
    margin-top: 10px;
    margin-top: 10px;
    width: 80%;
    margin-left: 10px;
}
.menu {
    text-align: center;
    margin-top: 8px;
    height:40px;
    width: 70%;
    font-weight: bold;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.menu .ul {
    list-style: none;
    text-align: center;
    background-color: #e47b21;
    width: 100%;
 }

.menu .ul li {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width:15%;
    z-index:999;
 }

.menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 13px;
   
}

.menu ul li a:hover {
    background-color: #e47b21;
    color: aliceblue;
    font-weight: bold;
    padding-bottom: -10px;
}

#submenu1 {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #e47b21;
}
#submenu {
    display: none;
    position: absolute;
    background-color: #e47b21;
}
#submenu1 li{
    width: 100% !important;
}
#submenu li{
    width: 100% !important;
}
.menu img {
    height: 30px;
    width: 50px;
    vertical-align: middle;
}

.menu ul li:hover #submenu1 {
    display: block;
    padding: 0px;
    /* margin-top: -10px; */
    
}

.menu ul li:hover #submenu {
    display: block;
    padding: 0px;
    /* margin-top: -10px; */
}

.top {
    background-color: #e47b21;
    display: flex;
    /* height: 100px; */
    width: 100%;
  
}
.py-3{
    padding-bottom: 1rem!important;
}
.py-3{
    padding-top: 1rem!important;
}
.bg-white{
    background-color: #fff!important;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.new-bars{
    margin-bottom: 10px;
}
.new-bars .item{
    position: relative;
    float: left;
}
.new-bars a{
    text-transform: uppercase;
    font-size: 15px;
    color:#333;
    display: block;
    float: left;
    padding: 8px 13px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a:hover{
    background-color: #ff9300;
}
.dropdown .dropdown-content  a:hover{
    text-decoration: none;
    background-color: #ff9300;
}
.dropdown:hover .dropdown-content {
    display: block;      
}
.item a:hover{
    background-color: #ff9300;
}
.dropdown-content {
    position: absolute;
    top: 35px;
    display: none;
    background-color: #fff;
    z-index: 1;
}
/* .new-bars .item ul{
    border: solid 1px #ddd;
    position: absolute;
    top: 34px;
    background: #fff;
    display: none;
    left: 0;
    width: 200px;
    min-width: 100%;
} */

.new-bars .item ul li a{
    width: 100%;
    box-sizing: border-box;
}
.ul {
    padding: 0;
    margin:0;
    list-style: none;  
}


#content-left{
    width: 995px;
    float: left;
}
#list-news li{
    overflow: hidden;
    padding: 20px 0;
    border-top: solid 1px #ddd;
}
a{
    color: #015092;
    text-decoration: none;
}
#list-news li .a-img
img{
    width: 250px;
    float: left;
}
img{
    border: none;
    max-width: 100%;
    /* height: auto; */
}
#list-news li .a-name{
    color: #333;
    font-size: 17px;
    font-weight: 700;
}
#list-news li .a-right{
    margin-left: 265px;
}
p{
    margin-bottom: 1rem;
    margin-top: 0;
}
.paging{
    text-align: center;
    margin-top: 20px;
}
.paging a {
    display: inline-block;
    background: #eee;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    color: #333;

}


#content-right{
    width: 385px;
    float: right;
    
}
#main{
    /* width: 1460px; */
    height: 1372.41px;
    background-color: #fff;
}
.box-news-right .h-title{
    border-bottom: solid 1px #ddd;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.h-title{
    margin: 14px 0px 10px;
    padding: 0;
}
/* h2{
    line-height: 1.5cm;
    font-size: 2rem;
} */
.space20{
    height: 20px;
    clear: both;
    display: block;
}
.list-offer-news .frist{
    color: #333;
    font-size: 16px;
    display: block;
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.list-offer-news ul{
    margin-left: -15px;
}
.list-offer-news li{
    float: left;
    width: 180px;
    margin-left: 15px;
}
.list-offer-news li a{
    color: #333;
    display: block;
    margin-bottom: 15px;
}
.list-offer-news li a img{
    width: 100%;
    height: 115px;
    display: block;
    margin-bottom: 8px;
}
.clear{
    clear: both;
}
.line{
    border-top: solid 1px #ddd;
    margin: 5px 0;
}

/* .newletter{
    margin-top: 20px;
    background-color: #e1e1e1;
    padding: 27px 0;
    box-shadow: inset 0 6px 22px -7px rgb(0 0 0 / 40%);
}
.d-flex{
    display: flex!important;
}
.newletter-text h4{
    font-size: 18px ;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}
.newletter-text span{
    color: #333;
}
.newletter-form{
    position: relative;
    margin-left: 40px;
}
.newletter-form input{
    width: 480px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    margin: 3px 0px;
    outline: 0;
}
.newletter-form span{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.fas{
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    display: inline-block;
    font-style: normal ;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-long-arrow-alt-right::before{
    content: "\f30b";
}
::before{
    box-sizing: border-box;
} */

/* emial */
.infor{
    height: 100px;
    line-height: 24px;
}
.infor_{
   margin: 24px 0 0 20px;
}
.input_email input{
   width: 500px;
   height: 50px;
   margin-left: 100px;
   border-radius: 5px;
   border: none;
}
/* ---------- */
#footer {
   background: #fff;
   overflow: hidden;
   padding: 20px 0;
   
}
#footer .container {
   width: 1210px !important;
   min-width: 1210px !important;
   max-width: 1210px !important;
   line-height: 20px;
}
#footer .container {
   padding-right: 10px;
   padding-left: 10px;
}

#footer .container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer .box-footer {
   float: left;
   width: 269px;
   padding-right:20px;
}
#footer .box-footer .h-title {
   text-transform: uppercase;
   font-size: 18px;
   margin-bottom: 10px;
}
#footer .ul, .format {
   margin: 0;
   padding: 0;
   list-style: none;
   padding-right:10px;
}
#footer .box-footer li {
   margin: 6px 0;
}
#footer .box-footer li a {
   color: #333;
}
/* quang cao */
#cart-fixed{
    position: fixed;
    top: 185px;
    right: 2px;
    z-index: 99;
    background: rgba(255, 255,255, 0.88);
    border: solid 1px #ccc;
    border-radius: 35px;
    overflow: hidden;
    /* transition: width 0.3s linear 0.2s; */
    
}
#cart-fixed i{
    width: 37px;
    height: 37px;
    background-position: -3px -167px ;
    background-color:rgb(255,178,73) ;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 37px;
    margin: -1px 0px 0 -2px;
}
.fa-shopping-cart:before{
    content: "\1F6D2";
}

.cart p{
    display: none;
    margin: 0;
    margin-left: 46px;
    padding-right: 8px;
    /* width: 104px;
    z-index: 1; */
}
.cart b{
    color: #136ed2;
}
#cart-fixed .cart:hover #cart-dropdown {
    display: block; 
}

.hotline-call{
    position: fixed;
    bottom: 1px;
    left: 1px;
    z-index: 999;
    overflow: hidden ;
}
.hotline-call img{
    border: none;
    max-width: 100%;
    height: auto;
}
.fixed-fb-chat{
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 999;
    overflow: hidden ;
}


