* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('./content/font/GoogleSans-Regular.otf') format('opentype');
}
body {
    font-family: GoogleSans-Regular;
    margin: 0 auto;
    width: 95%;
    background: #f5f5f5;
    /* font-family: Arial, Helvetica, sans-serif; */
}


.new-header-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
    background-color: #e47b21;
}
.header-item {
    line-height: 30px;
    height: 30px;
    position: relative;
    margin-left: 15px;
    border: 0px solid ;
    /* background:  linear-gradient(to right, #d68d02 0%, #ea0f0f 50%, #d68d02 100%); */
    animation: animateBg 2s infinite linear;
    background-color: #fff;
    background-image: linear-gradient(90deg, #d68d02, #ea0f0f, #d68d02, #ea0f0f);
    /* background-color:#d68d02 ; */
    border-radius: 5px;
    right: 20px;
    /* animation-name: example;
    animation-duration: 3s;
    animation-iteration-count:infinite */
    background-size: 300% 100%;
    box-shadow: 0 3px 14px #000;
    border-radius: 20px;
    padding: 0 5px 0 5px;
}

@keyframes animateBg{
    0% {
        background-position: 0 0;
      }
      100% {
        background-position: 100% 0;
      }
}
a{
    text-decoration: none;
}
.header {
    display: flex;
    background-color: #010101;
    height: 50px;
    line-height: 50px;
    margin-top: 38px;
    margin-left: 15px;
    width: 47%;
    
}
input{
    margin-bottom: 10px;
}
.btn_search{
    height: 30px;
    margin: 10px 0px 17px 14px;
}
#search {
    /* margin-top: 10px; */
    display: flex;
    width: 100%;
}
.tim_kiem{
    margin-top: 10px;
    margin-top: 10px;
    width: 80%;
    margin-left: 10px;
}
.menu {
    text-align: center;
    margin-top: 8px;
    height:40px;
    width: 70%;
    font-weight: bold;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.menu .ul {
    list-style: none;
    text-align: center;
    background-color: #e47b21;
    width: 100%;
 }

.menu .ul li {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width:15%;
    z-index:999;
 }

.menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 13px;
   
}

.menu ul li a:hover {
    background-color: #e47b21;
    color: aliceblue;
    font-weight: bold;
    padding-bottom: -10px;
}

#submenu1 {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #e47b21;
}
#submenu {
    display: none;
    position: absolute;
    background-color: #e47b21;
}
#submenu1 li{
    width: 100% !important;
}
#submenu li{
    width: 100% !important;
}
.menu img {
    height: 30px;
    width: 50px;
    vertical-align: middle;
}

.menu ul li:hover #submenu1 {
    display: block;
    padding: 0px;
    /* margin-top: -10px; */
    
}

.menu ul li:hover #submenu {
    display: block;
    padding: 0px;
    /* margin-top: -10px; */
}

#main{
    background-color: #fff;
}

.top {
    background-color: #e47b21;
    display: flex;
    /* height: 100px; */
    width: 100%;
  
}

.new-bars{
    margin-bottom: 10px;
    padding-left: 15px ;
    padding-top: 15px;
    padding-bottom: 15px;
}
.new-bars .item{
    position: relative;
    float: left;
}
.new-bars a{
    text-transform: uppercase;
    font-size: 15px;
    color:#333;
    display: block;
    float: left;
    padding: 8px 13px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a:hover{
    background-color: #ff9300;
}
.dropdown .dropdown-content  a:hover{
    text-decoration: none;
    background-color: #ff9300;
}
.dropdown:hover .dropdown-content {
    display: block;      
}
.item a:hover{
    background-color: #ff9300;
}
.dropdown-content {
    position: absolute;
    top: 35px;
    display: none;
    background-color: #fff;
    z-index: 1;
}
/* .new-bars .item ul{
    border: solid 1px #ddd;
    position: absolute;
    top: 34px;
    background: #fff;
    display: none;
    left: 0;
    width: 200px;
    min-width: 100%;
} */
#content{
    height: 1400px;
}
.new-bars .item ul li a{
    width: 100%;
    box-sizing: border-box;
}
.ul {
    padding: 0;
    margin:0;
    list-style: none;  
}
.clear{
    clear: both;
}
.line{
    border-top: solid 1px #ddd;
    margin: 5px 0;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.space20{
    height: 20px;
    clear: both;
    display: block;
}
#other-news b{
    font-size: 17px;
    font-weight: normal;
}
#other-news ul{
    padding-left: 18px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 1rem;
}
#other-news ul li a{
    color: #015092;
    text-decoration: none;
}
.h-title{
    margin: 0;
    padding: 0;
}
/* h2{
    line-height: 1.5em;
    font-weight: 500;
    font-size: inherit;

} */
line{
    border-top: solid 1px #ddd;
    margin: 5px 0;
}
.list-article{
    margin-left: -20px;
}
.ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-article li{
    float: left;
    width: 253px;
    margin: 15px 0;
    margin-left: 20px;
}
.list-article li .img img{
    width: 100%;
    height: 135px;
}
.list-article li .name{
    color: #333;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.infor{
    height: 100px;
    line-height: 24px;
}
.infor_{
   margin: 24px 0 0 20px;
}
.input_email input{
   width: 500px;
   height: 50px;
   margin-left: 100px;
   border-radius: 5px;
   border: none;
}
/* ---------- */
#footer {
   background: #fff;
   overflow: hidden;
   padding: 20px 0;
   
}
#footer .container {
   width: 1210px !important;
   min-width: 1210px !important;
   max-width: 1210px !important;
   line-height: 20px;
}
#footer .container {
   padding-right: 10px;
   padding-left: 10px;
}

#footer .container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer .box-footer {
   float: left;
   width: 269px;
}
#footer .box-footer .h-title {
   text-transform: uppercase;
   font-size: 18px;
   margin-bottom: 10px;
}
#footer .ul, .format {
   margin: 0;
   padding: 0;
   list-style: none;
}
#footer .box-footer li {
   margin: 6px 0;
}
#footer .box-footer li a {
   color: #333;
}

/* quang cao */
.hotline-call{
    position: fixed;
    bottom: 1px;
    left: 1px;
    z-index: 999;
    overflow: hidden ;
}
.hotline-call img{
    border: none;
    max-width: 100%;
    height: auto;
}
.fixed-fb-chat{
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 999;
    overflow: hidden ;
}
.banner-fixed-left{
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 99;
}
.banner-fixed-right{
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 99;
}
img{
    vertical-align: middle;
}